# IntelliJ
# http://devnet.jetbrains.com/docs/DOC-1186
/.idea/**/*.xml
!/.idea/codeStyleSettings.xml

# TypeScript
/.tscache/
*.tmp.txt
/src/**/*.js
/src/**/*.js.map

# Node
/node_modules/
/npm-debug.log
