# Target directories
/node_modules/
/npm-debug.log
/.tscache

# IntelliJ
# http://devnet.jetbrains.com/docs/DOC-1186
/.idea/codeStyleSettings.xml
/.idea/encodings.xml
/.idea/tasks.xml
/.idea/workspace.xml
/.idea/inspectionProfiles/
/.idea/temp/

# OSX
# Created by https://www.gitignore.io
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
